*{
    left: 0%;
    top: 0%;
}
button{
    height: 100px ;
    width: 100px;
    border-radius: 50%;
    color: white;
    font-weight:bold;
    background-color: black;
    font-size:  3rem;
    padding: 25px;
    border: none;

}
#display{
    width: 90%;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(24, 114, 94);
    color: #2c2114;
    text-align: left;
    border: none;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    height:300px;
    gap: 10px;
    padding: 25px;
}
body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: gray;
    border-radius: 50px;
    width: 500px;
    height: 770px ;
    max-width: 500px;
    padding: 25px;
    margin: 0%;
#equals{
    background-color: rgb(6, 245, 65);
    text-align: center;
    align-items: center;
    grid-column: 1/5;
    border-radius: 10px;
    width: 98%;

}
#equals:hover{
    background-color:rgb(81, 128, 92) ;
}
}
button:hover{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    color: black;
}
button:active{
    background-color:rgb(72, 255, 118);
}
#clear{

background-color:crimson; 
    border-radius: 10px;
    grid-column: 1/5;
    display: inline;
  width: 98%;
  cursor: pointer;
  text-align: center;
}
#clear:hover{
    background-color:rgb(175, 100, 115);
}
#delete{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    size: 100px;
}
#delete:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}